@import url(layout.css);
@import url(form.css);

body,html {
	height: 100%;
}

body {
	margin: 5px;
	margin-top: 0px;
	border: 0px;
	font-family: "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
/*	background: url(../img/bgstripes.png);*/
	background: #a5b6c5;
/*background: #a79b84;*/
/*	background: #d8d8d8;
	background: #aaaaaa;*/
}

img {
	border: 0px;
}

#container {
	height: auto;
	width: 802px;
	padding: 0px;
	margin: 0px;
	margin-left: auto;
	margin-right: auto;
}

#main {
	border-left: 1px solid #888;
	border-right: 1px solid #888;
	background-image: url("../img/blue/mainbg.png");
	background-repeat: repeat-y;
	padding: 0;
	height: auto;
	min-height: 700px;
}

/* *****************************************************
 *    Settings for the panel displayed on the right.
 * ***************************************************** */
#rightcontent {
	float: right;
	width: 190px;
	font-size: 10px;
	padding: 5px;
}

#rightcontent > ul {
	padding-left: 20px;
}

#rightcontent li {
	padding: 2px;
}

#rightcontent h1 {
	font-size: 11px;
	line-height: 16px;
	padding-left: 2px;
	display: block;
	background: #a09e9e;
	border-bottom: 1px solid #008;
}

#rightcontent *:first-child {
	margin-top: 0px;
}

/* *****************************************************
 *    Settings for the main panel.
 * ***************************************************** */
#maincontent {
	font-size: 12px;
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
/* Should be 580, but then it doesn't work in the stupid
 * parody of a browser called IE. */
	width: 576px;
}

#maincontent > h1 {
	font-size: 20px;
	font-weight: bold;
	display: block;
	border-bottom: 1px solid #008;
	background: #c9c9c9;
}

#maincontent > div + h1 {
	margin: 0px;
}

#maincontent h2 {
	margin-top: 20px;
	font-size: 17px;
	font-weight: bold;
	display: block;
	border-bottom: 1px solid #008;
	background: #c9c9c9;
}

#maincontent > *:first-child {
	margin-top: 0px;
}

#main a, #main a:visited {
	color: #a00000;
}

#main a:hover {
	color: #6060f8;
	color: #1010b8;
}

.box {
	padding: 0px;
	border: 1px solid #008;
	background: #d0d0d0;
/*	#fbee7c;*/
	padding-bottom: 5px;
	margin-bottom: 10px;
	margin-top: 0px;
}

.box h1 {
	padding-left: 5px;
	padding-right: 5px;
	font-size: 12px;
	font-weight: bold;
	display: block;
	color: white;
	background-image: url(../img/blue/footer.png);
	border-bottom: 1px solid #008;
	line-height: 20px;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
}

.box ul {
	padding: 0px;
	margin: 0px;
	padding-left: 15px;
	list-style-type: square;
}

.box p {
	padding-left: 5px;
	padding-right: 5px;
	font-size: 12px;
}

.msgbox {
	width: 500px;
	margin-top: 0px;
	margin-left: auto;
	margin-right: auto;
}

.msgbox p {
	text-align: center;
}

.infobox {
	margin-left: auto;
	margin-right: auto;
}

.errorbox {
	width: 500px;
	margin-left: auto;
	margin-right: auto;
}

.errorbox p {
	text-align: center;
	font-weight: bold;
	color: red;
	font-size: 12px;
}

.schedule th {
	background: #333;
	color: white;
	text-align: left;
	padding: 2px;
	padding-left: 5px;
}

.schedule td {
	padding: 1px;
	border-bottom: 1px solid #999;
}

.schedule .lect {
	background: #637dd4;
}

.schedule .food {
	background: #b4c5fd;
}

.schedule .author {
	font-size: 80%;
	font-weight: bold;
}

.abstract {
	width: 550px;
	background: white;
}

.abstract p {
	font-family: serif;
	font-size: 14px;
}

.participants {
	width: 100%;
}

.participants th {
	background: #fc7;
	text-align: left;
	padding: 2px;
	padding-left: 5px;
	border-bottom: 1px solid #999;
}

.participants td {
	padding: 2px;
	border-bottom: 1px solid #999;
}

.participants .row0 {
	background: #fdf0c8;
}

.participants .row1 {
	background: #ffe7b4;
}

.nobr { 
	white-space: nowrap; 
}
